*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(bag.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    max-width: 500px;
    height: 300px;
    margin: 150px auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* Glass Effect */
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(8px);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
h2{
    color: white;
    font-size: 35px;
    opacity: 0.6;
}









